# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
PGUSER=appuser
PGPASSWORD=password
PGDATABASE=oms_sensemaking

# Geospatial Sensemaking Settings
LOG_LEVEL="DEBUG"
VALID_OBSERVED_THRESHOLD_SECONDS=900
CACHE_ENTRY_EXPIRE_SEC=30
GEOHASH_LOW=5
GEOHASH_HIGH=7
POLL_PERIOD_SECONDS=10
OPERATED_BY_IRI="http://schema.dia.mil/DefenseIntelligenceCoreOntology/operatedBy"

# Loiter Settings
DETECT_LOITERS=True
LOITER_MIN_TIME=900

# Cotravel Settings
DETECT_COTRAVELS=True
MIN_COTRAVEL_DURATION_SECONDS=1200
MIN_LAG_LEAD_DURATION_SECONDS=1200
MAX_LAG_LEAD_DURATION_SECONDS=2700

# Similar Track Settings
SIMILAR_TRACKS=False
N_TRACKS=5
WITHIN_METERS=3000.0

# AWS SQS Settings
SQS_QUEUE_URL="http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/geoSensemakerTrigger"
AWS_ENDPOINT_URL="http://localhost:4566"
AWS_ACCESS_KEY_ID="FAKE"
AWS_SECRET_ACCESS_KEY="FAKE"
AWS_REGION_NAME="us-east-1"
AWS_USE_SSL=False
AWS_VERIFY=False

# OMSB Common Utils Settings
OMSB_URL="https://localhost:8443/graphql"
USER_DN="cn=test10,ou=jade,ou=meme,o=bia,st=maryland,c=us"
CERT_PATH="./pki/test10.pem"
KEY_PATH="./pki/test10.key"
