# Geospatial Sensemaking Settings
DEBUG=True
VALID_OBSERVED_THRESHOLD_SECONDS=900
CACHE_ENTRY_EXPIRE_SEC=5
GEOHASH_LOW=5
GEOHASH_HIGH=7
POLL_PERIOD_SECONDS=10

# Loiter Settings
DETECT_LOITERS=True
LOITER_MIN_TIME=900

# Cotravel Settings
DETECT_COTRAVELS=True
MIN_COTRAVEL_DURATION_SECONDS=1200
MIN_LAG_LEAD_DURATION_SECONDS=1200
MAX_LAG_LEAD_DURATION_SECONDS=2700
