# .env --- Local configuration.

# ----------------------------------------
# Sensemaker Service (Misc)
# ----------------------------------------
# APP_LOG_LEVEL=INFO
# RELOAD_APP=1

# Path to atoms local dev repo
ATOMS_LOCAL_DEV=../atoms-local-dev

# TLS configuration
UVICORN_SSL_KEYFILE=/opt/common/pki/server.private
UVICORN_SSL_CERTFILE=/opt/common/pki/server.public
UVICORN_SSL_CERT_REQS=0
UVICORN_PORT=8443
UVICORN_ROOT_PATH=


# ENABLE_AUDIT_LOG_ERROR_LOGGING=True
# AUDIT_LOG_ERROR_MAX_TB_CHARS=200
AUDIT_LOG_ERROR_ACM_JSON_FILE_PATH=./data/audit_log_error.json

# USER_DN_WHITELIST_PATH=./data/whitelist.txt

AGGRESSOR_PORTS_PATH=./data/WorldPortIndex-USX-2026-03-30T10_03.zip
OBSERVATIONS_CSV_NAME=observations

# ----------------------------------------
# Sensemaker Database
# ----------------------------------------

# Application user and config
DB_USER=appuser
DB_PASSWORD=password

# Database names
DB_NAME=oms_sensemaking
DB_NAME_OMSB=omsb_db
DB_TEMPLATE=template_postgis

# ----------------------------------------
# ATOMS Client Settings
# ----------------------------------------
OMSB_URL=http://graphql:8000/graphql
OMSB_VERSION=3.1.7
USER_DN=cn=test10,ou=jade,ou=meme,o=bia,st=maryland,c=us
CERT_PATH=./etc/pki/test10.pem
KEY_PATH=./etc/pki/test10.key
ATOMS_CACERT_PATH=./etc/pki/trusted.crt
# DEFAULT_ATOMS_PORT=8443
# PKCS12_PATH=./etc/pki/test10.full.pfx
# PKCS12_PASSWORD=
# ATOMS_CLIENT_VERIFY_SSL=True

# ----------------------------------------
# AAC Service Settings
# ----------------------------------------
# AAC_URL="http://aac2:3000"
# AAC_CACERT_PATH=./etc/pki/cacert.pem
# AAC_VERIFICATION_MODE=True
# DEFAULT_AAC_PORT=3000

# MAXIMUM_OMS_API_CALLS=500
# OMS_API_CALL_PERIOD_SECONDS=30

# SM_TEST_TAGS='["SM_TEST"]'
# TTL_CACHE_SIZE=1024
# TTL_CACHE_SECONDS=3600
# OMS_CRUD_TTL_CACHE_SIZE=1024
# OMS_CRUD_TTL_CACHE_SECONDS=3600

# ----------------------------------------
# RabbitMQ Configuration
# ----------------------------------------
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USERNAME=oms-bridge
RABBITMQ_PASSWORD=BugsBunny24

OMSB_AUDIT_EXCHANGE_NAME=oms.audits.exchange
OMSB_ESS_RESYNC_EXCHANGE_NAME=oms.ess.resync.exchange
OMSB_AOR_TRIGGER_QUEUE_NAME=oms-aor-trigger
OMSB_ESS_TRIGGER_QUEUE_NAME=oms-ess-trigger
OMSB_GUIDE_TRIGGER_QUEUE_NAME=oms-guide-trigger
OMSB_WFS_TRIGGER_QUEUE_NAME=oms-wfs-trigger

# ----------------------------------------
# Makefile and Docker Compose variables
# ----------------------------------------

# DOCKER_REGISTRY=
# PIP_INDEX=
# PIP_EXTRA_INDEX=
