# requirements.txt --- Defines project dependencies.

# NOTE: The runtime dependencies are defined in pyproject.toml file. The `-e .`
#       in this file informs pip to install those runtime dependencies and
#       install the package in "editable mode". This convention will allow for
#       `pip install -r requirements.txt` to install all runtime dependencies
#       followed by whatever test or development dependencies are added below.
#
#       See <http://stackoverflow.com/a/19081268>
-e .


# -------------------------
# Development dependencies
# -------------------------
coverage==7.6.0
mypy==1.11.0
pre-commit==3.7.1
pytest==8.3.2
pytest-cov==5.0.0
pytest-asyncio==0.23.8
ruff==0.5.5
types-shapely==2.0.0.20240714


# -------------------------
# Build dependencies
# -------------------------
build==1.2.1
# The following dependencies are also defined in the pyroject.toml, where
# they are used to create an isolated environment for buildint the project.
setuptools==71.1.0
setuptools_scm==8.1
